body {
    font-family: Arial, sans-serif;
    background-image: url('last.jpeg');
    background-attachment: fixed;
    background-size: 500px;
    color: #eee;
    text-align: center;
    color: #ed0909;
    margin-top: 5px;
    margin-bottom: 20px;
    text-transform: uppercase;
    justify-content: center;



  }
  
  #game-container {
    display: inline-block;
    padding: 30px;
    background: #333;
    border-radius: 15px;
    box-shadow: 0 10px 24px #111;
  }
  
  canvas {
    background: #111;
    display: block;
    margin: 50px auto 20px auto;
    border: 2px solid #444;
    border-radius: 8px;
  }
  
  #score {
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  
  #restart {
    padding: 8px 24px;
    font-size: 1em;
    border: none;
    border-radius: 6px;
    background: #0FA;
    color: #222;
    cursor: pointer;
  }
  
  #restart:hover {
    background: #0c7;
  }
  h1{
    font-size: 3em;
    margin-bottom: 1px;
    text-transform: uppercase;
    color: rgb(236, 253, 50);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    justify-content: center;


  }